<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle btn-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="" src="/media/cms/base/logo.png" alt="Vieclamthem - Tìm việc làm nhanh chóng" title="Vietlamthem - Tìm việc làm nhanh chóng" height="40px">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="nav-menu">
            <ul class="nav navbar-nav navbar-left nav-menu-left">
                <li>
                    <a href="/viec-lam-chuyen-mon" title="Việc làm yêu cầu chuyên môn, bằng cấp">Việc làm Chuyên môn</a>
                </li>
                <li>
                    <a href="/lao-dong-pho-thong" title="Việc làm cho lao động phổ thông, không cần bằng cấp">Lao động Phổ thông</a>
                </li>
                <li>
                    <a href="/sinh-vien-ban-thoi-gian" title="Việc làm cho sinh viên, việc làm bán thời gian">Sinh viên- Bán thời gian</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right nav-menu-right">
                <li>
                    <a href="/tim-kiem" style="font-weight: 700; font-size: 20px; font-family: 'Anton', sans-serif;">Tìm kiếm</a>
                </li>
                <li>
                    <a href="/dang-nhap" title="Đăng nhập">Đăng nhập</a>
                </li>
                <li>
                    <a href="/dang-ky" title="Đăng ký">Đăng ký</a>
                </li>
                <li class="horizontal-navbar__employer-site">
                    <a href="/nha-tuyen-dung" title="Trang thông tin cho Nhà tuyển dụng">NHÀ TUYỂN DỤNG</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
