<div class="container customer-signup-form main-page" ng-controller="SignUpController">

    <p class="title field">Đăng kí</p>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p><a class="a-button a-button-2" href="/dang-ky/nha-tuyen-dung">NHÀ TUYỂN DỤNG ĐĂNG KÝ</a></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p><a class="a-button a-button-1" href="/dang-ky/nguoi-tim-viec">NGƯỜI TÌM VIỆC ĐĂNG KÝ</a></p>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <p class="field-20">Bạn đã có tài khoản? <a class="text-link" href="/dang-nhap">Đăng nhập</a></p>
        </div>
    </div>

</div>