<div class="admin-main container-fluid" ng-controller="AdminAccountFormController">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 content">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <p class="pull-left" style="font-size: 14px; !important;">{{ title_modal }}</p>
                    <div ng-show="!isAddNew" class="col-lg-4 col-md-4 pull-right">

                        <div class="btn-text-horizontal">
                            <div class="row">
                                <button class="icon-edit" type="submit" ng-click="deleteAccount()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                            <div class="row" style="margin-top: 5px;">
                                <span class="text-add-new">Delete</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="row">

                    <div ng-if="admin || isAddNew " id="info" class="col-lg-12 col-md-12 acc_info">

                        <form name="accountForm" class="accountForm">

                            <div class="row field">
                                <div class="col-lg-6 col-md-6">
                                    <p class="col-md-3">Firstname<span class="required"></span></p>
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <input id="txt_firstname" type="text" ng-value="admin.first_name"
                                                   ng-model="admin.first_name"
                                                   ng-keyup="validFirstname()">
                                        </div>
                                        <div class="col-md-12">
                                            <div ng-if="fnameErr" class="text-err">{{curFnameErr}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <p class="col-md-3">Lastname<span class="required"></span></p>
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <input id="txt_lastname" type="text" ng-value="admin.last_name"
                                                   ng-model="admin.last_name"
                                                   ng-keyup="validLastName()">
                                        </div>
                                        <div class="col-md-12">
                                            <div ng-if="lnameErr" class="text-err">{{curLnameErr}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row field">
                                <div class="col-lg-6 col-md-6">
                                    <p class="col-md-3">Username<span class="required"></span></p>
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <input id="txt_username" type="text" ng-value="admin.username"
                                                   ng-keyup="validUsername()">
                                        </div>
                                        <div class="col-md-12">
                                            <div ng-if="usernameErr" class="text-err">{{curUsernameErr}}</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6">
                                    <p class="col-md-3">Password<span class="required"></span></p>
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <input id="txt_password" type="password" ng-value="admin.password"
                                                   ng-model="admin.password"
                                                   ng-keyup="validPassword()">
                                        </div>
                                        <div class="col-md-12">
                                            <div ng-if="passwordErr" class="text-err">{{curPasswordErr}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row field">
                                <div class="col-lg-6 col-md-6">
                                    <p class="col-md-3">Email<span class="required"></span></p>
                                    <div class="col-md-9">
                                        <div class="col-md-12">
                                            <input  id="txt_email" type="text" name="email" ng-value="admin.email"
                                                    ng-model="admin.email" ng-keyup="validEmail()">
                                        </div>
                                        <div class="col-md-12">
                                            <div ng-if="emailErr" class="text-err">{{curEmailErr }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>

                </div>

                <div class="row list-btn-bottom-modal field">
                    <div class="col-lg-10 col-md-10">
                        <button ng-if="isAddNew" class="pull-left" type="submit" ng-click="addNewAccount()">Add</button>
                        <button ng-if="!isAddNew" class="pull-left" type="submit" ng-click="updateAccount()">Update</button>
                        <button type="submit" class="pull-left" ng-click="closeDetail()"
                                style="background: #848484; margin-left: 20px !important;">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>