
<div class="admin-main">

    <div class="container">
        <div class="col-lg-12 col-md-12 colsm-12 col-xs-12" style="margin-top: 60px;">

            <div class="btn-text-horizontal col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                    <a href="/admin/orders" class="dash-board-a" style="background: #f2d123;">
                        {{orders.length}}
                    </a>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <span>Total Orders</span>
                </div>
            </div>
            <div class="btn-text-horizontal col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                    <a href="/admin/products" class="dash-board-a" style="background: #5bc0de;">
                        {{products.length}}
                    </a>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <span>Total Products</span>
                </div>
            </div>
            <div class="btn-text-horizontal col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="row">
                    <a href="/admin/customers" class="dash-board-a" style="background: #cb4b16;">
                        {{accounts.length}}
                    </a>
                </div>
                <div class="row" style="margin-top: 30px;">
                    <span>Total Customers</span>
                </div>
            </div>
        </div>
    </div>

</div>
